body {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 200px auto 50px;
  grid-template-areas:
    'header header'
    'profilePic content'
    'sidebar content'
    'footer footer';
  grid-gap: 20px;
}
.header {
  grid-area: header;
  background-color: rgb(129, 255, 177);
  border: 2px solid rgb(55, 232, 255);
  border-top: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.userPic{
  grid-area: profilePic;
  background-color: rgb(129, 255, 177);
  border: 2px solid rgb(55, 232, 255);
  border-radius: 50%;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
  background-color: rgb(129, 255, 177);
  border: 2px solid rgb(55, 232, 255);
  border-bottom: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}