.item {
    width: fit-content;
    text-decoration: none;
    color: cornflowerblue;
    
}
.name {
    margin: 5px;
    height:26px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;

    /* width: fit-content; */
}
.name:hover {
    background-color: rgb(55, 232, 255);
    font-size: larger;
    
    color: black;
}